<app-navbar></app-navbar>
<body>
  <div class="container-principal">
    <div class="container text-center mt-5 id1">
      <div class="row mt-4">
        <div class="col-sm-12 col-md-4 col-lg-2 col-xx-4 col-xl-4 py-3">
          <div class="card shadow card1">
              <div class="txt1">
                  LOREM
              </div>
  
            <img class="img1" src="../../../assets/img/arbol.jpg">
            <b>Is simply dummy text of the printing and typesetting industry
              <br>
              <p style="text-align: left">Ver más</p>
            </b>
          </div>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 col-xx-4 col-xl-4 py-3">
          <div class="card shadow card1">
            LOREM
            <img class="img1" src="../../../assets/img/arbol.jpg">
            <b>Is simply dummy text of the printing and typesetting industry
            <br>
            Ver más
          </b>
          </div>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 col-xx-4 col-xl-4 py-3">
          <div class="card shadow card1">
            LOREM
  
            <img class="img1" src="../../../assets/img/arbol.jpg">
            <b>Is simply dummy text of the printing and typesetting industry
            <br>
            <p style="text-align: right">Ver más</p>
          </b>
          </div>
        </div>
      </div>
  
    </div>
  </div>
</body>

<app-footer></app-footer>
