<div class="container n1">
  <div class="row">
    <div class="col-md-6">
      <div class="card col-auto">
        <div class="text">
          <h1 class="mb-3">Iniciar Sesión</h1>
          <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
            <div class="mb-3 mt-6">
              <label class="form-label lb1 text-rigth">Usuario</label>
              <input [class.error]="loginForm.controls['user'].dirty && loginForm.hasError('required','user')"
                class="text-danger" formControlName="user" type="email" class="form-control bx1"
                id="exampleFormControlInput1" placeholder="example@example.com">
            </div>
            <small *ngIf="loginForm.controls['user'].dirty && loginForm.hasError('required','user')"
              class="text-danger">*Ingrese el usuario</small>

            <div class="mb-3 mt-6">
              <label class="form-label lb1">Contraseña</label>
              <input [class.error]="loginForm.controls['pass'].dirty && loginForm.hasError('required','pass')"
                class="text-danger" formControlName="pass" type="text" class="form-control" placeholder="*******">
            </div>
            <small *ngIf="loginForm.controls['pass'].dirty && loginForm.hasError('required','pass')"
              class="text-danger">*Ingrese la contraseña</small>
            <div class="d-grid gap-2">
              <button type="submit" class="btn btn1 btn-lg ">Ingresar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
