html,body{
    height: 100%;
    
}

.wrapper{

    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo{

    height: 139px;
    margin-bottom: 10px;
}

.body{
    max-width: 300px;
    width: 100%;
    text-align: center;
    
}